<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Resultado de consulta</h1>
    <p>Número de cuenta: <%= nroCuenta %></p>
    <p>Segundo monto de vencimiento: <strong><%= monto %></strong></p>

    <a href="/">Volver</a>
  </body>
</html>
